RewriteEngine On

#Redirects URL to "https://*" if "http://*" has been typed
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://opusvid.com/$1 [R,L]

#Removes the file extensions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

#Back-end redirects
RewriteRule ^login$ resources/views/back-end/login.php [NC]
RewriteRule ^password_reset$ resources/views/back-end/password_reset_start.php [NC]
RewriteRule ^password_new$ resources/views/back-end/password_reset_new.php [NC]
RewriteRule ^password_pending$ resources/views/back-end/password_reset_pending.php [NC]
RewriteRule ^dashboard$ resources/views/back-end/index.php [NC]
RewriteRule ^dashboard/upload$ resources/views/back-end/upload_s1.php [NC]
RewriteRule ^dashboard/upload_s2$ resources/views/back-end/upload_s2.php [NC]
RewriteRule ^dashboard/manage$ resources/views/back-end/manage_videos.php [NC]
RewriteRule ^dashboard/edit$ resources/views/back-end/edit_video.php [NC]
RewriteRule ^dashboard/settingsP$ resources/views/back-end/edit_profile.php [NC]
RewriteRule ^dashboard/settingsA$ resources/views/back-end/edit_account.php [NC]
RewriteRule ^admin/videos$ resources/views/back-end/admin_videos.php [NC]
RewriteRule ^admin/edit_video$ resources/views/back-end/admin_edit_video.php [NC]
RewriteRule ^admin/accounts$ resources/views/back-end/admin_accounts.php [NC]
RewriteRule ^admin/edit_account$ resources/views/back-end/admin_edit_account.php [NC]
RewriteRule ^admin/new_user$ resources/views/back-end/admin_newuser.php [NC]
RewriteRule ^dashboard/manage_collections$ resources/views/back-end/collections.php [NC]
RewriteRule ^dashboard/new_collection$ resources/views/back-end/collection_new.php [NC]
RewriteRule ^dashboard/edit_collection$ resources/views/back-end/collection_edit.php [NC]
RewriteRule ^dashboard/add_collection$ resources/views/back-end/collection_add.php [NC]


#Front-end redirects
RewriteRule ^home$ resources/views/front-end/index.php [NC]
RewriteRule ^player$ resources/views/front-end/player.php [NC]
RewriteRule ^profile$ resources/views/front-end/profile.php [NC]
RewriteRule ^search$ resources/views/front-end/search.php [NC]
RewriteRule ^categories$ resources/views/front-end/categories.php [NC]
RewriteRule ^category$ resources/views/front-end/category.php [NC]
RewriteRule ^collection$ resources/views/front-end/collection.php [NC]
RewriteRule ^test$ resources/views/front-end/test.php [NC]


RewriteRule ^sitemap$ sitemap.php [NC]
