<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Video | Opus VId</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="../scripts/js/scroll.js"></script>
	</head>
	<body>
		<header>
			<img src="../media/images/Opus_LogoTitle.png">
			<h1 hidden="">Opus Vid</h1>
			<nav id="menu-main">
				<a href="#">Home</a>
				<a href="#">Category</a>
				<a href="#">Upload</a>
				<a href="#">Account</a>
			</nav>
		</header>
		<div class="playerWrap">
				<video class="vidEmbed" src="../media/videos/2017DonaldLouchIntro720.mp4" controls="controls" preload="auto">View the <a href="2017DonaldLouchIntro720.mp4">video</a></video>
				<nav id="vidCon"></nav>
				<section id="description">
					<h1>Video Title</h1>
					<h2>By: Person</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a class="toggleButton" onclick="toggle_visibility('fDescription')">Read Full Description</a>
						<section id="fDescription" class="panel">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<a class="toggleButton" onclick="toggle_visibility('metaData')">Meta Data</a>
								<section id="metaData" class="panel">
									<article id="meta">
										<dl>
											<dt>Category<dt>
												<dd>Vlog | Education <dd>
											<dt>Tags</dt>
													<dd>Coming Soon!</dd>
											<dt>Music Credit</dt>
												<dd>NONE!</dd>
											<dt>Filmed On</dt>
												<dd>iPhone 8 Plus</dd>
											<dt>Audio Captured On</dt>
												<dd>iPhone 8 Plus</dd>
											<dt>Edited On</dt>
												<dd>Final Cut Pro X</dd>
											<dt>Starting</dt>
												<dd>Donald Louch</dd>
											<dt>Filmed On</dt>
												<dd>August 30th, 2018</dd>
											<dt>Filmed At</dt>
												<dd>Vancouver Island University</dd>
										<dl>
									</article>
								</section> <!-- #metaData -->
						</section>
				</section>
			<section id="comments">
				<h3>Comments go here!</h3>
			</section>
	</div>
</div>
<script src="../scripts/js/video.js"></script>
<script src="../scripts/js/accordion.js"></script>
		<footer>
			<p>&copy; 2013 - <span id="currentYear"></span> <a href="http://donaldlouch.ca">Donald Louch Productions</a></p>
			<script src="../scripts/js/year.js"></script>
		</footer>
	</body>
</html>
