<!DOCTYPE html>
<html lang="en">
	<head>
		<title>RockVIU 2018 Pecha Kucha: Donald Louch | Opus VId</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="../scripts/js/scroll.js"></script>
	</head>
	<body>
		<header>
			<img src="../media/images/Opus_LogoTitle.png">
			<h1 hidden="">Opus Vid</h1>
			<nav id="menu-main">
				<a href="#">Home</a>
				<a href="#">Category</a>
				<a href="#">Upload</a>
				<a href="#">Account</a>
			</nav>
		</header>
		<div class="playerWrap">
				<video class="vidEmbed" src="../media/videos/PechaKuchaDonald.mp4" controls="controls" preload="auto" poster="../media/images/thumbnail/ThumbPechaKuchaDonald.jpg">View the <a href="2017DonaldLouchIntro720.mp4">video</a></video>
				<nav id="vidCon"></nav>
				<section id="description">
					<h1>RockVIU 2018 Pecha Kucha: Donald Louch</h1>
					<h2>By: Donald Louch</h2>
					<p>At this years #VIU's #RockVIU I was asked to do a #PechaKucha on my first year experience at the school so I made this here little presentations!</p>
					<a class="toggleButton" onclick="toggle_visibility('fDescription')">Read Full Description</a>
						<section id="fDescription" class="panel">
							<p>Did you like the video!? If so could you please Like, Favorite, Share, and Comment on the video, in addition, Subscribe to my channel! It would help out a lot!</p>

							<p>Subscribe - http://www.youtube.com/user/iDonaldLouch</p>
							<p>Click to Tweet My Channel - http://ctt.ec/8y2In</p>

							<p>Please, feel free to check out and join AwesomenessTV Network for yourself! https://awesomenesstv.com/network/</p>

							<p>====================================================</p>
							<p>My Links:</p>
							<p>*As of November 25th, 2017*</p>
							<p>====================================================</p>

							<p>Facebook (DonaldLouch) - https://www.facebook.com/DonaldLouchProduction/</p>
							<p>Twitter (DonaldLouch) - https://twitter.com/DonaldLouch</p>
							<p>Google + (Donald Louch) - https://plus.google.com/+DonaldLouchiDonaldELouch</p>
							<p>Google + (iDonaldLouch) -- https://plus.google.com/+IdonaldlouchCa</p>

							<p>Professional (Donald Louch) – http://donaldlouch.ca</p>
							<p>Tumblr (Donald Louch) - http://tumblr.donaldlouch.ca</p>

							<p>YouTube (Main Channel) - http://youtube.donaldlouch.ca/</p>
							<p>YouTube (Gaming Channel) - http://www.youtube.com/user/MrPuzzledApple</p>
							<p>YouTube (Technology Channel) - https://www.youtube.com/channel/UChUzJdQZwLlu4VlUZ78MzcA</p>

							<p>Instagram - DonaldLouch</p>
							<p>SnapChat - iDonaldELouch</p>

							<p>SoundCloud (Donald Louch) - http://soundcloud.com/idonaldelouch</p>

							<p>Skype - iDonaldELouch</p>
							<p>Email Me - DonaldLouch@outlook.com or contact@DonaldLouch.ca</p>

							<p>For all my other Links! - http://donaldlouch.ca/links/</p>
							<a class="toggleButton" onclick="toggle_visibility('metaData')">Meta Data</a>
								<section id="metaData" class="panel">
									<article id="meta">
										<dl>
											<dt>Category<dt>
												<dd>Vlog | Education <dd>
											<dt>Tags</dt>
													<dd>Coming Soon!</dd>
											<dt>Music Credit</dt>
												<dd>NONE!</dd>
											<dt>Filmed On</dt>
												<dd>iPhone 8 Plus</dd>
											<dt>Audio Captured On</dt>
												<dd>iPhone 8 Plus</dd>
											<dt>Edited On</dt>
												<dd>Final Cut Pro X</dd>
											<dt>Starting</dt>
												<dd>Donald Louch</dd>
											<dt>Filmed On</dt>
												<dd>August 30th, 2018</dd>
											<dt>Filmed At</dt>
												<dd>Vancouver Island University</dd>
										<dl>
									</article>
								</section> <!-- #metaData -->
						</section> <!-- #fDescription -->
				</section> <!-- #description -->
			<section id="comments">
				<h3>Comments go here!</h3>
			</section>
	</div>
</div>
<script src="../scripts/js/video.js"></script>
<script src="../scripts/js/accordion.js"></script>
		<footer>
			<p>&copy; 2013 - <span id="currentYear"></span> <a href="http://donaldlouch.ca">Donald Louch Productions</a></p>
			<script src="../scripts/js/year.js"></script>
		</footer>
	</body>
</html>
