/*
=====================================================================
CSS Rest
=====================================================================
*/

*, body, html, p, h1, h2, h3, h4, h5, h6, header, nav, a, img, footer, ol, li, section, div, abbr, button, input, form, table, tbody, tr, td, th {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    width: auto;
    text-decoration: none;
    background: none;
    -webkit-appearance: none;
    -webkit-border-radius: initial;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: initial;
}

/*
=====================================================================
Body
=====================================================================
*/

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
  color: #333333;
}

body {
/*background: linear-gradient(171deg, rgba(48,46,145,1) 0%, rgba(83,109,254,0.9626051104035365) 25%, rgba(53,100,145,0.94) 50%, rgba(229,115,115,0.92) 75%, rgba(255,157,47,0.81) 89%);*/
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 8px rgba(148, 150, 150, 0.57);
}

h1 {
  font-size: 3em;
  margin: 0.2em 0 0.6em;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin: 0.6em 0 -0.2em;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

h4 {
    font-size: 1.4em;
}

p {
  font-size: 18px;
  margin: 10px 0px 10px;
  text-shadow: 1px 1px 8px rgba(148, 150, 150, 0.57);
}

a:link, a:visited {
    color: #302E91;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #FF9D2F;
}

hr {
	margin: 1em 1.5em;
	border: 0.5px solid #302E91;
}

ul, ol {
    margin: 0 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
  font-size: 1.3em;
  margin: 0;
  font-weight: 500;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

q {
	font-weight: bold;
	font-style: italic;
}

blockquote {
	border-left: 2px solid #302E91;
	margin: 1em 0 1em 2em;
	padding: 0.1em 0 0.1em 1em;
}

cite {
	display: block;
	font-style: italic;
	font-weight: bold;
	margin: 1em;
}

pre {
	background-color: #eee;
	padding: 1em;
	font-family: "Source Code Pro";
	font-weight: 300;
	overflow: auto;
}

code,
var {
	font-family: "Source Code Pro";
	font-weight: 300;
	color: #0078ff;
}

abbr {
    border-bottom: 2px solid #302E91;
    font-weight: 500;
}

dt {
    font-weight: bold;
    font-size: 1.3em;
}

dd {
    margin-left: 1.5em;
    font-weight: 300;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 5px 3px 7px 1px rgba(83, 109, 254, 0.4);
		margin: 1em 0;
}

td, th {
	text-align: left;
	padding: 0.8em;
}

th {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

tr:nth-child(2n) {
	background-color: #302E91;
	color: #fff;
}

tr:nth-child(2n) a {
	color: #fff;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: auto !important;
  font-size: 2em !important;
}



/*
=====================================================================
Header
=====================================================================
*/

header {
    display: grid;
    /*grid-template-columns: 30% 70%;*/
    /* grid-template-columns: 18% 82%; */
    grid-template-columns: 15% 60% 25%;
    box-shadow: -2px 7px 18px 3px rgba(0, 0, 0, 0.5);
    padding: 0.05em 0.3em;
    background-color: #fff;
    position: fixed;
    height: 3.6em;
    z-index: 100;
    width: 98.7%;
    top: 1.2vh;
    left: 0.4vw;
}

header img {
    margin: 0.22em 0;
    width: 100%;
    max-width: 245px;
    height: auto;
}

/* #menu-main {
    text-align: right;
    margin: 0.4em;
    overflow: auto;
    white-space: nowrap;
}

#menu-main a,
.logoutNav button {
    font-size: 1.2em;
    display: inline-block;
    margin: 0.39em 0.1em;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.19);
    border-bottom: solid #536DFE;
    background: none;
    font-weight: 500;
    color: #302E91;
  }

  #menu-main a:hover,
  .logoutNav button:hover {
    color: #FF9D2F !important;
    border-bottom: solid #FF9D2F !important;
    }

  .activePg {
    color: #E57373 !important;
    border-bottom: solid #E57373 !important;
}

.logoutNav {
    display: inline;
} */

/* Dropdown */

/* .dropDownMain {
  display: none;
}

.dropdown:hover .dropDownMain {
    display: block;
} */

nav#menu-main {
    left: 81.5vw;
    position: absolute;
}

.menuLogin {
  margin-left: 6em;
}

nav#menu-main ul {
  margin: 0.4em -2em;
  /* overflow: auto;
  white-space: nowrap;
  text-align: right; */
  float: left;
}

nav#menu-main li {
  float: left;
  position: relative;
  list-style: none;
}

nav#menu-main a,
.logoutNav button {
    font-size: 1em;
    display: block;
    margin: 0.39em 0.1em;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.19);
    border-bottom: solid #536DFE;
    background: none;
    font-weight: 500;
    color: #302E91;
}

nav#menu-main ul li ul {
  display: none;
  position: absolute !important;
  background: rgba(245,244,244,0.95);
  margin: 1.7em -7em;
  box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
  border-radius: 0.3em;
  width: 340%;
  overflow: hidden;
}

nav#menu-main ul li:hover ul {
  display: block;
}

nav#menu-main ul li ul li  {
  margin: 0.3em 0.5em;
  text-align: center;
}

nav#menu-main ul li ul li a {
  font-size: 0.7em;
}

.logoutNav button{
  font-size: 0.7em;
  display: block;
  margin: 0.39em 0.1em;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.19);
  border-bottom: solid #536DFE;
  background: none;
  font-weight: 500;
  color: #302E91;
}

nav#menu-main ul li ul li a:hover,
.logoutNav button:hover {
  color: #FF9D2F !important;
  border-bottom: solid #FF9D2F !important;
}

.logoutNav button {
  float: left;
}

header .avatar {
  width: 68% !important;
  float: left;
  box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
  border-radius: 0.3em;
  margin: 0.1em -9.5em 0 0.5em;
}

form#searchForm {
    margin-left: 6em;
}

#searchForm button {
    margin: 0.2em 0;
    padding: 0.5em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
    text-align: center;
    background-color: #302E91;
    color: #fff;
}

#searchForm button:hover {
  background-color: #E57373;
  box-shadow: none !important;
}

#searchForm input {
  width: 85%;
}



  /*
  =====================================================================
  Page
  =====================================================================
  */

  img.logoBig {
      margin: 0em 43vw !important;
  }

  body#indexPage {
    margin: 41vh 0;
}

#pageTree {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 4em;
}

#pageTree h3 {
  font-weight: 700;
}

#pageTree li {
    margin: 1em;
}

.wrapper {
  margin: 5em 1em 1em;
  padding: 1em;
}

.card, .dashWrapper {
  margin: 5em 14% 1em;
  padding: 1em 2em;
  background: radial-gradient(ellipse at center, #fcfcfc 0%,#fafafa 36%,#f5f7f9 100%);
  box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
}

.loginPageSitemap .wrapper.card {
    margin: 27vh 14%;
}

#userLoginSitemap {
    font-size: 1.3em;
}

#userLoginSitemap button.submitButton {
    margin-bottom: 1em;
}

h4.siteTitle {
    text-align: center;
    font-weight: 300;
    font-size: 2.5em !important;
}

.dashWrapper {
  margin: 5em 1em 1em;
  display: grid;
  grid-template-columns: 15% 85%;
}

#dashNav a,
#dashNav button {
    display: block;
    margin: 1em 0;
    padding: 1em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
    text-align: center;
    background-color: #302E91;
    color: #fff;
}

#dashNav button {
    width: 100%;
    font-weight: 500;
}

.dashNavSub a {
    background: none !important;
    color: #302E91 !important;
    box-shadow: none !important;
    text-align: left !important;
    font-size: 0.9em;
    margin: 2em 1em !important;
    padding: 0 !important;
    border-bottom: solid;
}

#dashNav a:hover,
#dashNav button:hover,
.dashActive {
  background-color: #E57373;
  box-shadow: none !important;
}

.dashActive {
  background-color: #E57373 !important;
  box-shadow: none !important;
}

.dashNavSub a:hover {
  background: none !important;
  color: #E57373 !important;
  border-bottom-color: #E57373 !important;
}

#dashContent {
    margin: 0em -1em 0 2em;
    padding: 1em 2em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
}

a.button {
  background-color: #302E91;
  padding: 0.5em;
  color: #fff !important;
  text-shadow: none;
  font-size: 0.9em;
  box-shadow: 5px 3px 7px 1px rgba(83, 109, 254, 0.4);
}

a.button:hover {
  background: none;
  box-shadow: none;
  color: #302E91 !important;
}

#dashContent td {
    text-align: center;
}

a.button.dashboard,
button.button.dashboard {
    background-color: #E57373;
    margin: auto;
    padding: 0.5em;
    color: #fff !important;
    text-shadow: none;
    font-size: 0.9em;
    box-shadow: 5px 3px 7px 1px rgba(83, 109, 254, 0.4);
}

button.button.dashboard {
    margin: 5em 0.6em 0;
    font-weight: 500;
}

a.button.dashboard:hover,
button.button.dashboard:hover {
  color: #E57373 !important;
  background: none;
  box-shadow: none !important;
}


.videoWrapper {
  display: grid;
  grid-template-columns: 25% 45% 10% 10% 10%;
  text-align: left !important;
  width: 100%;
  box-shadow: 5px 3px 7px 1px rgba(83, 109, 254, 0.4);
  margin: 0.5em 0;
  border-radius: 0.3em;
}

.videoWrapper:nth-child(2n) {
	background-color: #302E91;
	color: #fff;
}

.thumbDash {
  width: 100%;
  border-radius: 0.3em;
  /* grid-column: 1;
  grid-row: 1/2; */
}

.videoWrapper h3 {
  font-size: 1.5em;
  text-align: left;
  margin: 2.2em 0.5em;
  font-weight: 700;
}

.videoWrapper p {
  margin: -2.7em 0.7em 0;
}

.profileWrap {
  margin: 9em 14% 1em !important;
      border-radius: 0.4em;
}

.profileWrap h1 {
    color: #536DFE;
    margin: 0;
}

.profileWrap h3 {
    color: #356491;
    font-size: 1.4em;
}

span.fromSpan {
    font-weight: 300;
}

.tags {
  color: #302E91;
  font-size: 0.9em;
  margin: 0 !important;
}

.profileWrap p {
    margin: 1em 0 2em;
}

.avatarProfile {
  width: 10%;
  box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
  border-radius: 0.4em;
  margin: -4.5em auto 0;
  text-align: center;
  display: block;
}

.errorMessage,
.successMessage {
    background-color: #E57373;
    padding: 1em;
    color: #fff;
    margin: 1em 0;
    font-weight: 700;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
}

.errorMessage {
  background-color: #E57373;
}

.successMessage {
    background-color: #69B131;
}

img.avatarSearch {
    width: 10%;
    margin: 0;
    display: inline;
    vertical-align: middle;
}

.searchProfileWrap h3 {
    display: inline;
    margin-left: 1em;
}

.follow.profile button {
    margin: 0.2em 0;
    padding: 0.5em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
    text-align: center;
    background-color: #302E91;
    color: #fff;
    position: absolute;
    top: 16.5%;
    right: 14.5vw;
}

.follow.profile button:hover {
  background-color: #E57373;
  box-shadow: none !important;
}

#pagination_controls {
    margin: 2em 0 0;
    text-align: center;
}

#pagination_controls a {
    margin: 1em;
    padding: 0.5em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
    text-align: center;
    background-color: #302E91;
    color: #fff;
}

#pagination_controls a:hover {
  background-color: #E57373;
  box-shadow: none !important;
}

.adminAccountProfileWrap {
    display: grid;
    grid-template-columns: 10% 50% 20% 20%
}

.adminAccountProfileWrap .avatarSearch {
    width: 100%;
}

.adminAccountProfileWrap h3 {
    margin: 7% 1em 0;
    text-align: left;
}

.adminAccountProfileWrap a.button.dashboard, button.button.dashboard {
    margin: 1em auto 5em;
}

.wrapper.CAT {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: #fff !important;
    /* width: 25%; */
  }

.wrapper.CAT div{
    margin: 1em;
    padding: 5em;
    background: linear-gradient(171deg, rgba(48,46,145,1) 0%, rgba(83,109,254,0.9626051104035365) 25%, rgba(53,100,145,0.94) 50%, rgba(229,115,115,0.92) 75%, rgba(255,157,47,0.81) 89%);
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
    border-radius: 0.3em;
  }

.wrapper.CAT a {
  color: #fff !important;
}

.wrapper.CAT a:hover {
  color: #333333 !important;
}

.videoWrapperCollection {
  display: grid;
  grid-template-columns: 3% 25% 65%;
  text-align: left !important;
  width: 100%;
  box-shadow: 5px 3px 7px 1px rgba(83, 109, 254, 0.4);
  margin: 0.5em 0;
  border-radius: 0.3em;
}

.videoWrapperCollection .videoInfo {
    margin: auto;
    font-size: 1.4em;
}

form#newCollection {
    font-size: 1.1em;
}

/*
=====================================================================
  Video Player
=====================================================================
*/

.playerWrap {
  margin: 5em 1em 1em;
  padding: 1em;
}

.outer-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    display: inline-block;
    position: relative;
    width: 83%;
}

video {
    width: 100%;
    height: 100%;
    box-shadow: 3px 5px 20px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0.4em;
}

#vidCon {
    display: grid;
    width: 70%;
    position: relative;
    margin: 0.3em auto;
    grid-template-columns: 5% 70% 15% 5% 5%;
    padding: 0.4em 11em;
    border-radius: 0.4em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
}

.playBTN,
.muteBTN,
.fullBTN,
.opusLogoBTN {
  cursor: pointer;
  width: 85%;
  margin: auto;
}

.opusLogoBTN {
  margin: 0.5em 0;
  width: 80%;
}

.divSeek {
  margin: auto 0;
}

/* Time code and slider */
.timeCode {
	display: inline;
	color: #FF9D2F;
	margin: 10px 8px;
}

input[type='range'] {
    -webkit-appearance: none;
    background: #FF9D2F;
    height: 0 !important;
    width: 80%;
    padding: 0.3em;
    margin: auto;
    vertical-align: middle;
    border: none !important;
}

#description {
    padding: 0.5em 1.5em;
    box-shadow: 3px 5px 20px 6px rgba(0, 0, 0, 0.5);
    margin: 1.4em 0;
}

#description h1 {
    color: #536DFE;
    font-size: 4em;
    text-align: left;
    margin: 0 0 0.2em;
}

#description h2 {
	margin: -0.3em 0 0;
	font-size: 2.7em;
	color: #356491;
}

#fDescription {
    padding: 0.5em 1em 0;
}

#fDescription p {
    font-weight: 300 !important;
}

.videoWrap {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

article {
    margin: 0.5em;
    padding: 1.5em;
    box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
    border-radius: 0.3em;
}

.videoWrap h3 {
    text-align: left;
}

.thumbnailHome {
    width: 114%;
    margin: -7% -7% 1em;
    border-radius: 0.3em;
}

a.noLink {
    color: inherit !important;
    font: inherit !important;
    cursor: inherit !important;
}

/*
=====================================================================
  Columns
=====================================================================
*/
.columns {
  display: grid;
  text-align: center;
  margin: 0 0em;
  padding: 0;
}

#videoUpload .columns {
    width: 97.5%;
}

.columns.\32 > .nm.column {
    width: 101%;
}

.columns.\32 {
  grid-template-columns: 50% 50%;
}

.columns.\34 {
    grid-template-columns: 25% 25% 25% 25%;
}

.columns.\36 {
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    color: #fff;
}

.column {
    margin: 0.5em;
    width: 98%;
}

.nm.column {
  width: 96%;
  margin: 0;
}

/*
=====================================================================
Toggles
		- Creates the toggles/accordions (JavaScript Needed)
=====================================================================
*/

.toggleButton {
    font-weight: 700;
    color: #302E91;
    font-size: 1.4em;
    border-bottom: solid #E57373;
    padding: 0 1em 0.1em;
}

.toggleButton:hover {
    border-bottom: solid #403D3C;
}

.panel {
	display: none;
}

/*
=====================================================================
	Tabs
		- Creates the tabs (JavaScript Needed)
=====================================================================
*/

#tabs {
    margin: 0 -2em 2em;
    font-weight: 300;
    width: auto;
}

/* Nav */
#tabs nav {
	text-align: center;
	border-bottom: solid 1px #536DFE;
}

#tabs nav ul {
	padding: 0;
	width: 100%;
	margin: 0;
	list-style: none;
	display: inline-block;
}

#tabs nav ul li {
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
}

#tabs nav li.tab-current {
	z-index: 100;
}

#tabs nav a {
	display: inline-block;
	font-size: 1.5em;
	line-height: 2.5;
	padding: 0 1.25em;
}

#tabs nav a:hover {
	color: #FF9D2F;
}

#tabs .tab-current {
    font-weight: bold;
    color: #E57373;
}

/* Content */
.tabContent section {
  font-size: 1.4em;
  padding: 1em 2em;
  display: none;
  margin: 0 auto;
}

.tabContent img {
    width: 100%;
}

/* Fallback example */
.no-js .tabContent section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #302E91;
}

.tabContent section.content-current {
	display: block;
}

/*
=====================================================================
	Contact Form
=====================================================================
*/

.submitButton {
  background-color: #302E91;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 0.9em;
  cursor: pointer;
  margin: 0 1em;
  font-weight: 500;
  box-shadow: 1px 1px 5px 1px rgba(83, 109, 254, 0.4);
}

.submitButton:hover {
  color: #E57373;
  box-shadow: none;
  background: none;
}

form#videoUpload {
    font-size: 1.3em;
}

select, input, textarea {
	  font-size: 0.7em; /* Use this to change the font size of the form fields */
    padding: 1em;
    margin: 1em;
    width: 96%;
    box-sizing: border-box;
    border-top: hidden;
    border-left: hidden;
    border-bottom: solid #302E91 1.9px; /* Use this to change the colour of the bottom line on the form */
    border-right: hidden;
    background: none;
    font-family: inherit;
    font-weight: 500;
}

input:focus, textarea:focus, select:focus {
	border-color: #E57373;  /* Use this to change the border colour when clicked on to the field */
}

input[type="file"] {
    background-color: #302E91;
    color: #fff;
}

form p {
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

/*
=====================================================================
	Footer
=====================================================================
*/

footer {
    box-shadow: 0px 12px 16px rgba(26, 9, 66, 0);
    padding: 1.5em;
    text-shadow: 42px 40px 47px #979090;
    background: linear-gradient(50deg, #45484d 0%,#000000 100%);
    color: #ffffff;
    font-size: 0.9em;
    width: 100%;
    margin: 0;
 } /* Responsive */

footer a{
	color: #e71b1b !important;
	font-weight: 600;
}

footer a:hover {
	color: lightgrey;
} /* Links in the footer */
